<div class="container">
  <mat-card *ngFor="let article of articles" class="example-card">
    <div>
      <mat-card-header>
        <div class="card__title">
          <p class="card__heading">{{article.title}}</p>
          <p><span>{{article.publishedAt.slice(11,-4)}}</span></p>
        </div>
        <p><span>
          <a href="{{article?.url}}">{{article.source.name}}</a>
          {{article.author ? ', ' + article.author : ''}}
        </span></p>
        <p *ngIf="article.description"><span>{{article.description}}</span></p>
      </mat-card-header>
      <img *ngIf="article.urlToImage" src="{{article?.urlToImage}}" alt="{{article.title}}">
    </div>
    <mat-card-actions>
      <button mat-button (click)="navToArticle(article)">
        <mat-icon>navigate_next</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</div>
