.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.example-card {
  display: flex;
  max-width: 440px;
  margin-bottom: 5px;
}

.mat-card-header {
  display: flex;
  flex-direction: column;
  font-size: 18px;
}

.mat-card-image::ng-deep {
  width: 400px;
  margin: 0 0 16px 0;
}

img {
  width: 395px;
}

span {
  max-width: 400px;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  padding: 0 5px 0 0;
  text-overflow: ellipsis;
  font-size: 14px;
  color: #808080FF;
}

a {
  text-decoration: none;
  color: #808080FF;
}

.card {
  &__title {
    display: flex;
    justify-content: space-between;
    font-weight: 500;
  }

  &__heading {
    max-width: 395px;
    margin: 0 25px 5px 0;
  }

  p {
    display: inline-block;
    width: 75%;
    margin: 0 12px 12px 0 !important;
  }
}
